@import "../../../assets/scss/variables";


.input{
    border:1px solid $secondary;
    border-radius: 4px;
    background: $white;
    width: 290px;
    height: 56px;
    position: relative;
    padding-left: 10px ;
    margin:10px 0px;
    input{
        height: 97%;
        width: 97%;
        border: none;
        outline: none;
        font-size: 16px;
        &:focus ~ label,
        &:valid ~ label{
            transform: translateY(-20px);
            font-size: 12px;
        }
    }
    label{
        position: absolute;
        bottom: 20px;
        left: 0;
        color:$input;
        transition: all 0.3s ease;
        padding-left: 10px ;

    }
}