@import "../../../assets/scss/variables";


.banner_textmobile{
    display:none;
    @media (max-width: 570px) {
        display: block;
        max-width: 200px;
        margin-left: 60px;
        color: $white;
    }
    @media (max-width: 500px) {
        display: block;
        max-width: 150px;
        margin-left: 20px;
    }   
    .banner__buttons{
        display: flex;
        justify-content: space-around;
        align-content: center;
    }
    .button{
        background: transparent;
        border:none;
        outline: none;
        cursor: pointer;
        color: $white;
        font-size: 20px;
    }
    .buttondisable{
        background: transparent;
        border:none;
        outline: none;
        cursor: pointer;
        color: #FC606B;
        font-size: 20px;
    }
}